#home
{
	background-color: var(--primary);

	height: 100%;
	overflow: hidden;
}

#home .carousel
{
	z-index: 1;

	width: 100vw;
}

#home main
{
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-left: 5rem;
}

#home main img
{
	margin-top: -7.5rem;
	z-index: 2;
}

#home main div
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	gap: 2rem;
}

#home main div h1
{
	font-family: Ubuntu;
	font-size: 4rem;

	color: var(--secondary);
}

#home main div h2
{
	font-family: Roboto;
	font-size: 2rem;

	color: var(--secondary);
}

@media (max-width: 850px)
{
	:root
	{
		font-size: 8px;
	}

	#home
	{
		overflow-y: auto;
	
	}

	#home main
	{
		flex-direction: column;
		justify-content: space-around;

		padding: 2rem;
		height: 80%;
	}

	#home main img
	{
		width: 50%;
	}
}